# Ignore node_modules directory
api/node_modules/
node_modules/

# Ignore environment variables
.env

# Ignore build/output directories
dist/
build/

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore OS-specific files
.DS_Store
Thumbs.db